/* 

--PUT THIS IN HTML BODY--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Castoro&family=Noto+Sans+JP:wght@100;900&family=Oxygen:wght@700&family=Playfair+Display:wght@900&family=Raleway:wght@100&display=swap" rel="stylesheet">*/

h2 {font-family: 'Noto Sans JP', sans-serif;}
a, h4 {font-family: 'Oxygen', sans-serif;}
h1 {font-family: 'Playfair Display', serif;}
h3 {font-family: 'Raleway', sans-serif;}
body {background-color: #dff1da}
